---
title: Affirmations
introduction: src/content/introduction.md 
footer_scripts:
  - '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'
  - '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'
  - 'js/affirmations.js'
  - 'js/app.js'
show_toggle: true
---

{{md introduction}}

<div id="offcanvas-sidebar"></div>

<h2>Providers</h2>

<ul id="providers">
  {{#each providers}}
  <li id="provider-{{id}}" class="provider" data-id="{{id}}">
  {{> provider}}
  </li>
  {{/each}}
</ul>
