---
title: Health and Wellness Network
introduction: src/content/introduction.md 
footer_scripts:
  - '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'
  - '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'
  - 'js/lunr-0.4.5.min.js'
  - 'js/affirmations.js'
  - 'js/app.js'
---

{{md introduction}}

<div id="filters-container"></div>

<ul id="providers">
  {{#each providers}}
  <li id="provider-{{id}}" class="provider" data-id="{{id}}">
  {{> provider}}
  </li>
  {{/each}}
</ul>
