#main {
  padding-top: 50px;
}

.navbar-header {
  float: left;
}

.navbar-toggle {
  float: left;
}

.container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }
}

#offcanvas-outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#offcanvas-inner-wrap {
  left: 0;
  position: relative;
  width: 100%;
}

.offcanvas-show #offcanvas-inner-wrap {
  left: 90%;
}

.offcanvas-show .navbar-fixed-top {
  left: 90%;
}

#offcanvas-sidebar {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  left: -90%;
  padding: 15px;

  background-color: #eee;
}

ul#providers {
  list-style-type: none;
  padding-left: 0;
}

.provider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.provider h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.provider dd {
  padding-bottom: 10px;
}

.provider-attrs.primary {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .provider-attrs {
    overflow: hidden;
    min-height: 1px;
    position: relative;
    width: 50%;
    float: left;
  }

  .provider-attrs.secondary {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .provider-attrs.secondary dt,
  .provider-attrs.secondary dd {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
  }

  .provider-attrs.secondary dt {
    width: 50%;
    float: left;
    padding-bottom: 10px;
    clear: left;
  }

  .provider-attrs.secondary dd {
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
} 
