h1,.h1 {
  font-size: 30px;
}

h2,.h1 {
  font-size: 24px;
}

h3,.h3 {
  font-size: 18px;
}

#main {
  padding-top: 50px;
}

#outer-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#inner-wrap {
  left: 0;
  position: relative;
  width: 100%;
}

#filters {
  padding-top: 10px;
  padding-bottom: 40px;
}

#filters .btn {
  margin-bottom: 10px;
}

#filters .btn + .btn {
  margin-left: 10px;
} 

ul#providers {
  list-style-type: none;
  padding-left: 0;
}

#providers .summary-only {
  display: none;
}

#providers.summary dt,
#providers.summary dd,
#providers.summary .provider-attrs.secondary {
  display: none;
}

#providers.summary .summary-include,
#providers.summary .summary-only {
  display: block !important;
}

.provider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#providers.detail .provider {
  display: none !important;
}

#providers.detail .provider.detail {
  display: block !important;
}

.provider h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.provider dd {
  padding-bottom: 10px;
}

.provider-attrs.primary {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  #search-form {
    width: 400px;
  }
  
  .provider-attrs {
    overflow: hidden;
    min-height: 1px;
    position: relative;
    width: 50%;
    float: left;
  }

  .provider-attrs.secondary {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .provider-attrs dd {
    padding-right: 10px;
  }

  .provider-attrs.secondary dt,
  .provider-attrs.secondary dd {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 10px;
  }

  .provider-attrs.secondary dt {
    width: 50%;
    float: left;
    padding-bottom: 10px;
    clear: left;
  }

  .provider-attrs.secondary dd {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
} 
